.fon {
    background: black;
    flex-direction: column;

}
.buttons {
    background: #f0e6e6;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}
.color1 {
    background-color: black;
    color: #ff6e1d;
    border: 3px solid #ff6e1d;
}
.color2 {
    background-color: black;
    color: rgb(44, 255, 242);
    border: 3px solid rgb(44, 255, 242);
}
.color3 {
    background-color: black;
    color: rgb(255, 84, 166);
    border: 3px solid rgb(255, 84, 166);
}
.color4 {
    background-color: black;
    color: rgb(255, 62, 62);
    border: 3px solid rgb(255, 62, 62);
}
